/* general rules */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.flex{
    display: flex;
}

.title{
    margin-bottom: 20px;
}

p{
    margin: 10px;
}

button{
    padding: 10px 15px;
    border-radius: 50px;
    border: none;
    margin-right: 30px;
}




/* background color */

.bk-color-white{
    background-color: white;
}

.bk-color-black{
    background-color: black;
    color: white;
}

.bk-color-li-brown{
    background-color: rgb(246,246,246);
}

.bk-color-blu{
    background-color: rgb(114,137,218);
    color: white;
}





/* header */

#container-header{
    height: 700px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.nav{
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.header-link{
    width: 35%;
    justify-content: space-between;
}

.header-link > a{
    color: white;
}

#section-header{
    text-align: center;
    margin-top: 150px;
    padding-bottom: 10%;
    padding-left: 15%;
    padding-right: 15%;
}

#section-header > p{
    color: white;
    font-size: 20px;
    line-height: 160%;
    text-align: center;
    max-width: 950px;
    margin: 0px auto;
    margin-bottom: 20px;
}

#section-header > button{
    font-size: 20px;
    font-weight: 500;
    padding: 15px 25px;
}

#title{
    font-size: 50px;
    color: white;
    padding-bottom: 30px;
}





/* main */

#main-rule{
    text-align: center;
}

.main-section{
    flex-wrap: wrap;
}

.main-div{
    padding-top: 5%;
    padding-bottom: 5%;
    max-width: 1100px;
    margin: 0 auto;
}

.even{
    flex-direction: row-reverse;
}

.main-span-txt{
    text-align: left;
    padding-left: 50px;
}

.main-span-txt > h2{
    font-size: 40px;
    padding-top: 40px;
}

.main-span-txt > p{
    font-size: 20px;
    margin: 30px 0;
}

.even > .main-span-txt{
    padding-right: 50px;
    padding-left: 0px;
}

#main-footing{
    max-width: 1000px;
    margin: 0 auto;
}

#main-footing > h2{
    font-size: 40px;
    padding-top: 70px;

}

#main-footing > p{
    padding: 20px 0px;
    line-height: 160%;
}

#main-footing > img{
    width: 100%;
}

#main-foot-title{
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 20px;
    max-width: fit-content;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 30px;
}

#main-footing > button{
    font-size: 18px;
    margin-bottom: 100px;
}





/* footer */

#footer{
    background-color: rgb(35,39,42);
    padding-left: 15%;
    padding-right: 15%;
}

.footer-sec-father{
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 30px;
    border-bottom: solid blue 2px;
}

.foot-sp-div{
    max-width: 80%;
}

.footer-div{
    line-height: 190%;
}

.footer-div > h4{
    color: rgb(95,112,166);
    font-size: 25px;
}

.footer-div > h5{
    color: rgb(95,112,166);
    font-size: 18px;
}

#language{
    color: white;
    font-size: 12px;
}

#language > img{
    height: 12px;
}


li > a{
    color: white;
    font-size: 12px;
}

#foo-second-sec{
    margin-top: 20px;
    padding-bottom: 50px;
}

.footer-button{
    float: right;
}





/* Debug */
/* 
img{
    background-color: yellow;
    height: 100px;
    width: 100px;
}

.logo{
    height: 50px;
    width: 50px;
}

a{
    background-color: green;
    font-size: 30px;
}

button{
    background-color: red;
    height: 50px;
    width: 50px;
}

#container-header{
    background-color: blue;
    min-height: 200px;
} */